{
  "env": {
    "production": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "flow"
      ]
    },
    "minify": {
      "presets": [
        ["env", {
          "modules": false
        }],
        "flow"
      ]
    },
    "test": {
      "presets": [
        "flow",
        "env"
      ]
    }
  }
}